:root {
    --header__heading-height: 120px;
    --primary-color: linear-gradient(to right, #5f421c, #7a3b4f);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    max-width: 1900px;
    margin: 0 auto;
    /* height: 3000px; */
    overflow-y: auto;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 16px;  
    /* position: relative; */
}

/*
   section[id] {
     scroll-margin-top: 30px;
 } 
 */

.btn {
    display: inline-block;
    color: #fff;
    background-color: #2d63d1;
    cursor: pointer;
}

.btn:hover {
    background-color: #5a3922;
}

.btn--large {
    font-size: 1.8rem;
    padding: 25px 70px;
    margin-top: 60px;
    border-radius: 5px;
}

.btn--small {
    font-size: 1.6rem;
    padding: 19px 59px;
    margin-top: 56px;
    border-radius: 5px;
}

.btn--primary-color {
    background-image: linear-gradient(to right, #f474a2, #ffac3a);
}

.btn--primary-color:hover {
    opacity: 0.8;
}

.ml-0 {
    margin-left: 0 !important;
}

.section__content-heading--min-width {
    min-width: 450px;
}

.center {
    position: relative;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.mb-50 {
    margin-bottom: 50px !important;
}

